## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/Maryam/Desktop/utor-virt-data-pt-06-2020-u-b/World_Weather_Analysis/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Condition,Date
0,0,Georgetown,MY,5.41,100.34,80.60,94,20,2.24,few clouds,2020-07-31 01:09:04
1,1,Arraial Do Cabo,BR,-22.97,-42.03,67.41,81,100,14.81,overcast clouds,2020-07-31 01:13:31
2,2,Punta Arenas,CL,-53.15,-70.92,35.60,93,100,14.99,overcast clouds,2020-07-31 01:13:31
3,3,Sinnamary,GF,5.38,-52.95,78.57,80,17,4.85,few clouds,2020-07-31 01:13:31
4,4,Zarubino,RU,42.63,131.09,74.05,78,81,4.72,broken clouds,2020-07-31 01:13:31

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Condition,Date
1,1,Arraial Do Cabo,BR,-22.97,-42.03,67.41,81,100,14.81,overcast clouds,2020-07-31 01:13:31
9,9,Olafsvik,IS,64.89,-23.71,50.58,76,100,8.75,overcast clouds,2020-07-31 01:13:31
10,10,Zhigansk,RU,66.77,123.37,58.32,60,0,12.57,clear sky,2020-07-31 01:13:31
12,12,Benguela,AO,-12.58,13.41,68.52,86,0,5.61,clear sky,2020-07-31 01:18:58
15,15,Busselton,AU,-33.65,115.33,52.00,100,14,3.69,few clouds,2020-07-31 01:13:32
16,16,Yeppoon,AU,-23.13,150.73,69.80,46,37,13.87,scattered clouds,2020-07-31 01:13:32
19,19,Wangaratta,AU,-36.37,146.33,51.01,75,0,3.36,clear sky,2020-07-31 01:13:32
21,21,Okhotsk,RU,59.38,143.30,64.74,48,0,2.19,clear sky,2020-07-31 01:13:33
22,22,Fortuna,US,40.60,-124.16,66.00,82,3,3.00,clear sky,2020-07-31 01:18:58
23,23,Warmbad,NaN,-28.45,18.73,57.04,34,0,8.66,clear sky,2020-07-31 01:18:59

In [11]:
# 4a. Determine if there are any empty rows.
# Determine if there are any missing values in the city data.
city_data_df.count()

City_ID              706
City                 706
Country              698
Lat                  706
Lng                  706
Max Temp             706
Humidity             706
Cloudiness           706
Wind Speed           706
Weather Condition    706
Date                 706
dtype: int64

In [ ]:
clean_df: city_data_df.copy()

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df['Country'].replace('', 'np.nan', inplace=True)
city_data_df.dropna(subset=['Country'], inplace=True)
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Condition,Date
0,0,Georgetown,MY,5.41,100.34,80.60,94,20,2.24,few clouds,2020-07-31 01:09:04
1,1,Arraial Do Cabo,BR,-22.97,-42.03,67.41,81,100,14.81,overcast clouds,2020-07-31 01:13:31
2,2,Punta Arenas,CL,-53.15,-70.92,35.60,93,100,14.99,overcast clouds,2020-07-31 01:13:31
3,3,Sinnamary,GF,5.38,-52.95,78.57,80,17,4.85,few clouds,2020-07-31 01:13:31
4,4,Zarubino,RU,42.63,131.09,74.05,78,81,4.72,broken clouds,2020-07-31 01:13:31
...,...,...,...,...,...,...,...,...,...,...,...
701,701,Omboue,GA,-1.57,9.26,71.91,83,99,6.89,overcast clouds,2020-07-31 01:14:52
702,702,Boa Vista,BR,2.82,-60.67,84.20,62,0,4.70,clear sky,2020-07-31 01:11:50
703,703,Carmo Do Rio Claro,BR,-20.97,-46.12,62.31,79,72,6.78,broken clouds,2020-07-31 01:14:52
704,704,Fort William,GB,56.82,-5.11,53.01,96,100,5.59,overcast clouds,2020-07-31 01:14:52
705,705,Ilinskiy,RU,55.62,38.12,57.00,82,99,6.71,overcast clouds,2020-07-31 01:14:52

In [25]:
city_data_df.count()

City_ID              698
City                 698
Country              698
Lat                  698
Lng                  698
Max Temp             698
Humidity             698
Cloudiness           698
Wind Speed           698
Weather Condition    698
Date                 698
dtype: int64

In [26]:
clean_df = city_data_df

In [28]:
clean_df.count()

City_ID              698
City                 698
Country              698
Lat                  698
Lng                  698
Max Temp             698
Humidity             698
Cloudiness           698
Wind Speed           698
Weather Condition    698
Date                 698
dtype: int64

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Condition", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
0,Georgetown,MY,80.60,few clouds,5.41,100.34,
1,Arraial Do Cabo,BR,67.41,overcast clouds,-22.97,-42.03,
2,Punta Arenas,CL,35.60,overcast clouds,-53.15,-70.92,
3,Sinnamary,GF,78.57,few clouds,5.38,-52.95,
4,Zarubino,RU,74.05,broken clouds,42.63,131.09,
5,San Angelo,US,96.80,clear sky,31.46,-100.44,
6,Vaini,TO,75.20,scattered clouds,-21.20,-175.20,
7,Ushuaia,AR,33.80,few clouds,-54.80,-68.30,
8,Sur,OM,90.07,few clouds,22.57,59.53,
9,Olafsvik,IS,50.58,overcast clouds,64.89,-23.71,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [34]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', 'np.nan', inplace=True)
hotel_df.dropna(subset=['Country'], inplace=True)
hotel_df
clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
0,Georgetown,MY,80.60,few clouds,5.41,100.34,Cititel Penang
1,Arraial Do Cabo,BR,67.41,overcast clouds,-22.97,-42.03,Pousada Porto Praia
2,Punta Arenas,CL,35.60,overcast clouds,-53.15,-70.92,Hotel Dreams Del Estrecho
3,Sinnamary,GF,78.57,few clouds,5.38,-52.95,ALETHEIA Appartement Sinnamary
4,Zarubino,RU,74.05,broken clouds,42.63,131.09,"Okean, Baza Otdykha"
...,...,...,...,...,...,...,...
701,Omboue,GA,71.91,overcast clouds,-1.57,9.26,Hotel Olako
702,Boa Vista,BR,84.20,clear sky,2.82,-60.67,Aipana Plaza Hotel
703,Carmo Do Rio Claro,BR,62.31,broken clouds,-20.97,-46.12,Varandas da Montanha Hotel
704,Fort William,GB,53.01,overcast clouds,56.82,-5.11,Alexandra Hotel
705,Ilinskiy,RU,57.00,overcast clouds,55.62,38.12,"КРЕАТОВО, инновационный центр"

In [35]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Condition</dt><dd>{Weather Condition}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))